body {
    /*font-family: Arial;*/
}
.wd-font-half {
    font-size:0.5em;
}
.wd-width-40 {
    width: 40px;
}
.wd-width-100 {
    width:100%;
}
.wd-width-90 {
    width: 90px;
}
.wd-gray-color {
    color: gray;
}
input::placeholder {
    color: gray;
}
.wd-dark-color {
    color:#222
}
.wd-no-underline {
    text-decoration-line: none;
}
.wd-override-padding {
    padding:1em;

}
.wd-no-decoration {
    text-decoration: none;
}
.wd-upper-round {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.wd-round {
    border-radius: 20px;
}
.wd-border-gray {
    border-color: rgb(47, 51, 54);
    border-style: solid;
    border-width:2px;
}
.wd-border-bottom-only {
    border-width: 0px 0px 2px 0px;
}
.wd-mid-right-margin {
    margin-right:0.8em;
}