

#wd-outer-div {
    border-color: rgb(47, 51, 54);
    /*border-color: yellow;*/
    border-style: solid;
}

.wd-search {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    width:90%;
}
.wd-search input {
    border-radius: 20px; /* rounded corners */
    background-color: #333;
    height: 50px;
    border-width: 10px;
    padding-left: 16px;
    width:100%;
}
.wd-search input[value] {
    color: white;
    font-size: 1em;
}
.wd-search input::placeholder {
    color: rgb(110, 118, 125);
}
.wd-search input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: rgb(47, 51, 54);
    outline: none;
}
.wd-search form {
    width:100%;
}
.wd-search input {
    color:white;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(47, 51, 54);
    width: 100%;
    padding: 9px 4px 9px 50px;
    background: transparent url("../images/search.png") no-repeat 16px center;
    background-size: 30px;
}

.wd-search img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 16px;
}

.wd-float {
    float: left;
}

.wd-margin-offset-16 {
    margin-left: 16px;
}

.wd-setting {
    position: relative;
    display: flex;
    padding-right: 12px;
    /*border-color: #61dafb;*/
    /*border-width: 2px;*/
    /*border-style: solid;*/
    width: 10%;
}
.wd-setting img{
    position:absolute;
    right:12px;
}

.wd-search-div {
    position: relative;
    display:flex;
    width:100%;
}

.wd-search-div img {
    position: absolute; /* positions the image absolutely within the input-img container */
    top: 50%; /* centers the image vertically */
    transform: translateY(-50%); /* centers the image vertically */
}

.wd-hyperlink-div {
    /*border-color: #61dafb;*/
    /*border-width: 2px;*/
    /*border-style: solid;*/
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.wd-hyperlink-div div {
    color: rgb(110, 118, 125);
    float:left;
    font-size: 15px;
    padding: 16px;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
    border-color: black;
    border-style: solid;
    margin-left: 16px;
    border-width: 0px 0px 4px 0px;

}

#wd-hyperlink-focus {
    color: rgb(29,161,242);
    border-color: rgb(29,161,242);
    border-style: solid;
    /*border-width: 0px 0px 4px 0px;*/
    /*border-width: 4px 4px 4px 4px;*/
}

.wd-separator-bold {
    background-color: #333;
    height:15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(110, 118, 125);
}

.wd-posts {
    display: block;
}
.wd-post-1 {
    padding:16px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
    border-width: 0px;
}
.wd-post-1 .wd-topic {
    color: rgb(110, 118, 125);
    font-size: 13px;
    display:flex;
}

.wd-post-1 .wd-title {
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding-top:5px;
    padding-bottom:5px;
}

.wd-post-1 .wd-tuits {
    color: rgb(110, 118, 125);
    font-size: 13px;
}

.wd-post-1 .wd-topic-text {
    float:left;
    width: 50%;
}

.wd-post-2 {
    padding-right:16px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
    display: flex;
    border-width: 1px 0px 1px 0px;
}
.wd-post-2 .wd-content {
    float:left;
    width:50%;
    /*border-color: red;*/
    /*border-width: 2px;*/
    /*border-style: solid;*/
}
.wd-post-2 .wd-post-img {
    /*border-color: #61dafb;*/
    /*border-width: 2px;*/
    /*border-style: solid;*/
    float:right;
    width:50%;
    text-align: right;
}

.wd-post-2 .wd-topic-text {
    /*float:left;*/
    /*width: 50%;*/
    color:white;
    font-size: 13px;
    /*border-color: green;*/
    /*border-width: 2px;*/
    /*border-style: solid;*/
}

.wd-post-2 img {
    border-radius: 20%;
}

.wd-post-2 .wd-title {
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding-top:5px;
    padding-bottom:5px;
    /*border-color: #61dafb;*/
    /*border-width: 2px;*/
    /*border-style: solid;*/
    padding-left: 16px;
}

.wd-post-2 .wd-topic {
    padding-top: 16px;
    padding-left: 16px;
    display: flex;
}

.wd-post-2 .wd-topic-icon {
    float:left;
}

.wd-post-2 .wd-topic-text {
    padding-left: 5px;
    font-weight: bold;
    float:left;
    font-size:13px;
}

 .wd-post-2 .wd-check-icon {
     padding-left: 5px;
     float: left;
 }

 .wd-post-2 .wd-topic-time {
     padding-left: 5px;
     font-size:13px;
     float: left;
     color: rgb(110, 118, 125);
 }

 .wd-post-2 .wd-topic-only {
     padding-left: 0px;
 }