.wd-rounded {
    border-radius: 20px;
}

.wd-width-100 {
    width: 100%;
}
.wd-width-90 {
    width: 90px;
}
.wd-width-40 {
    width: 40px;
}
.wd-font-half {
    font-size:0.5em;
}
.wd-color-primary {
    color: #0d6efd;
}