.wd-rounded {
    border-radius: 20px;
}
.wd-slight-rounded {
    border-radius:5px;
}
.wd-width-100 {
    width: 100%;
}
.wd-width-90-pct {
    width: 90%;
}
.wd-width-90 {
    width: 90px;
}
.wd-width-40 {
    width: 40px;
}
.wd-width-25 {
    width: 25px;
}
.wd-width-20 {
    width: 20px;
}
.wd-width-10 {
    width: 10px;
}
.wd-font-half {
    font-size:0.5em;
}

.wd-color-blue {
    color: #449be9;
}

.wd-font-half {
    font-size:0.5em;
}

.active.override-active {
    background-color: white;
    border-color: white;
}

.btn-primary {
    color: white;
    background-color: #449be9;
    border-color: #449be9;
    padding-top:0.6em;
    padding-bottom:0.6em;
}

.btn-primary:hover {
    background-color: #449be9;
    border-color: #449be9;
}

.list-group.wd-override-list-border-radius {
    border-radius:20px;
}
.list-group .list-group-item {
    border-width: 0px;
}
.list-group-item.override-background {
    background-color: #eff3f4;
}
.override-input {
    background-color: #eff3f4;
    border-width:0px;
    padding-top:0.7em;
    padding-bottom:0.7em;
}

.wd-gray-color {
    color: gray;
}

.nav {
    border-width: 0px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-width:0px;
    color:black;
    padding:0em 1em 0em 1em;
}
.nav-link.active span {
    border-bottom: 4px solid #449be9;
    display: inline-block;
    padding-top:1em;
    padding-bottom:0.8em;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color:gray;
    font-weight:500;
    padding:1em 1em 0.8em 1em;
}
.wd-text-xs {
    font-size:14px;
}
.wd-text-md {
    font-size:16px;
}
.wd-text-lg {
    font-size:18px;
}
.wd-override-hyperlink {
    text-decoration: none;
    color:#449be9;
}
.wd-override-hyperlink:hover {
    color:#449be9;
}
.wd-nav-bottom-margin {
    margin-bottom:2px;
}
.wd-light-gray {
    background-color:#eff3f4;
}
.wd-no-decoration {
    color:black;
    text-decoration: none;
}
.wd-light-bold {
    font-weight:500;
}
.wd-light-bolder {
    font-weight:600;
}
.wd-bottom-margin {
    margin-bottom:11px;
}
